.whitepaper-btn{
    background: color(primary);
    border-radius: 23px;
    padding: 13px 25px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #C8F169;
}