.community-powered-card{
    background: #C8F169;
    border-radius: 50px;
    padding: 81px 100px 91px 100px;
}


@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 768px){
    
}
@media only screen and (max-width: 575px){
    
}
@media only screen and (max-width: 425px){
    
}