.roadmap-section{
    position: relative;
    z-index: 0;
}
.roadmap-container{
    position: relative;
}
.roadmap-shape{
    position: absolute;
    left: -20%;
    top: -117%;
    z-index: 0;
}
.roadmap-content{
    padding-top: 60px;
    z-index: 1;
}
.roadmap-card{
    background: transparent;
    border-radius: 20px;
    min-height: 100%;
    position: relative;
    .roadmap-arrow{
        position: absolute;
        right: -22px;
        top: 22px;
    }
    
}
.roadmap-card-title{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    height: 60px;
    padding: 5px 30px;
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
    }
    
}
.roadmap-card-body{
    padding: 24px 30px;
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            position: relative;
            margin-bottom: 18px;
            padding-left: 25px;
            &::before{
                content: '';
                height: 12px;
                width: 12px;
                border: 2px solid rgba(255, 255, 255, 0.2);
                background: transparent;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 10px;
            }
            &.active{
                &::before{
                    content: url(../images/icons/check-green.svg);
                    border: none;
                    height: auto;
                    width: auto;
                    top: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px){
    .roadmap-card {
        .roadmap-arrow{
            width: 70px;
        }
    }
}
@media only screen and (max-width: 1440px){
    .roadmap-card-title{
        width: 160px;
    }
}
@media only screen and (max-width: 991px){
    .roadmap-card {
        .roadmap-arrow{
            left: 170px;
        }
    }
}
